
.category-header{
    width: 100%;
    margin-bottom: 50px;
}

.header-container{
  /* padding: 150px; */

  
}


.category-header-video{
    width: 100%;
    aspect-ratio: 26 / 5;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}