.musicCards {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    width: min(1120px, 100%);
    margin: 0 auto;

  /* min-height: 0; */
    /* flex: 1; */

    overflow-y: auto;
    overflow-x: hidden;

    padding: 8px 20px 220px;
    
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

@media (max-width: 880px) {
    .musicCards {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

@media (max-width: 610px) {
    .musicCards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-right: 14px;
        padding-left: 14px;
    }
}


.musicCards:hover {
    scrollbar-color: rgba(0, 0, 0, 0.35) transparent;
}


.musicCards::-webkit-scrollbar {
    width: 8px;
}

.musicCards::-webkit-scrollbar-track {
    background: transparent;
}

.musicCards::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 999px;
}

.musicCards:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.35);
}

.musicCards::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}


.musicCards::-webkit-scrollbar-button,
.musicCards::-webkit-scrollbar-button:single-button,
.musicCards::-webkit-scrollbar-button:vertical:start:decrement,
.musicCards::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
    width: 0;
    height: 0;
}