.player-buttons{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 10px;
}

.player-buttons .btns.active {
    background-color: rgb(110, 255, 156);
    padding: 5px;
    border-radius:5px ;
    color: rgb(0, 0, 0);
    
}



 .btns{
color: rgb(83, 83, 83);
background-color: transparent;
border: none;
cursor: pointer;

 
}



 .btns:hover{
color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .player-buttons {
        gap: clamp(0.75rem, 5vw, 1.5rem);
        margin-bottom: 4px;
    }
}

