.music-row{
     display:flex;
    align-items:center;
    padding:  10px 30px 10px 10px;
    gap:24px;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.music-row:hover{
 background-color: #fafafa;
}

