
.category-details-page{
   display: flex;
   flex-direction: column;
   gap: 24px;
   padding-bottom: 200px;
   height: calc(100vh - 90px);
}

@media (max-width: 768px) {
   .category-details-page {
      padding-bottom: 190px;
   }
}

