.player-song{
    display: flex;
    gap: 1rem;
    align-items: center;
    min-width: 0;
}

.player-song img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.player-song-info{
    display: flex;
    flex-direction: column;
        min-width: 0;
}

.player-song-info h3,
.player-song-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-song-info p{
  margin: 0;
  font-size: .9rem;
  color: #777;
}

@media (max-width: 768px) {
    .player-song {
        gap: 0.75rem;
    }

    .player-song img {
        width: 40px;
        height: 40px;
    }

    .player-song-info {
        flex: 1;
    }
}